  
.grid-wud-wrapper > .grid-wud-image{ 	
	filter:gray alpha(opacity=99);
	-webkit-filter:grayscale(99%);
	filter: grayscale(99%);
}

.grid-wud-wrapper-box > .grid-wud-image{ 
	filter:gray alpha(opacity=99);
	-webkit-filter:grayscale(99%);
	filter: grayscale(99%);
}