  
.grid-wud-wrapper:hover > .grid-wud-image{ 
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);	
	filter:gray alpha(opacity=30);
	-webkit-filter:grayscale(30%);
	filter: grayscale(30%);
	-webkit-backface-visibility:hidden;
	transform-origin: center left;
}

.grid-wud-wrapper-box:hover > .grid-wud-image{ 
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);	
	filter:gray alpha(opacity=30);
	-webkit-filter:grayscale(30%);
	filter: grayscale(30%);
	-webkit-backface-visibility:hidden;
	transform-origin: center left;
}