/*
 *	=== Grid WUD ===
*/

/* Container (Categorie box) */
.grid-wud-container{
	width: 100%;
    overflow: hidden;
	font-size: 100%; 
	font-family:inherit;
}

/* Wrapper (Grid) */
.grid-wud-wrapper{
	float:left;
	color: #FFFFFF;
	overflow: hidden;
	position: relative;	
}

/* Background image */
.grid-wud-image{
	position: absolute;
	background-position: center;
	height:100%; width:100%; 
	background-size: cover;	
	transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
}


/* Excerpt = 0 */
.grid-wud-excerpt {
	background-color: rgba(255, 255, 255, 0.78);
	color: #616161;
	font-size: 16px; font-size: 0.8vw;
	position: absolute;
	display: block;
	overflow: hidden;	
	text-overflow: ellipsis;
	width:100%;
	bottom: 0;
	max-height: 0;
	transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;	
}

.grid-wud-wrapper:hover .grid-wud-excerpt{
	padding: 8px 4px 8px 4px;
	height: auto !important;
	max-height: 50% !important;
	transition-property: all !important;
	transition-duration: .4s !important;
	transition-timing-function: cubic-bezier(255, 255, 255, 0.78) !important;
}

.grid-wud-wrapper:hover .grid-wud-excerpt-2{
	transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;	
	background-color: rgba(255, 255, 255, 0.2);
	color: #000000;
}

/* Excerpt = 2 */
.grid-wud-excerpt-2 {
		transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
	padding: 2% 1% 2% 1%;
	background-color: rgba(255, 255, 255, 0.78);
	color: #616161;
	font-size: 16px; font-size: 0.8vw;
	position: absolute;
	display: block;
	overflow: hidden;
	white-space: pre-line;
	text-overflow: ellipsis;
	width:98%;
	bottom: 0;
	height: auto;
	max-height: 50% !important;	
}

/* Category title */
.grid-wud-h1 {
    font-weight: bold;
	padding-right: 20px;
    margin-bottom: 5px;
	padding-left: 20px;
	padding-top: 0.6vw; 
	padding-bottom: 0.6vw; 	
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

/* Post title standard*/
.grid-wud-h4 {
	padding: 2px 4px 12px 4px;
	background-color: rgba(255, 255, 255, 0.78);
	color: #616161;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
    white-space: nowrap;
	position: absolute; 
	right: 0px;
}

#grid-wud-h4-top{
	top: 0px;
}

#grid-wud-h4-bottom{
	bottom: 0px;
}


.grid-wud-wrapper:hover #grid-wud-h4-bottom{
	display: none;
	visibility: hidden;
}

/* Read more space */
.grid-wud-bottom {
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
	font-family:inherit;
}

/* Read more button (+) */
.grid-wud-h3 {
	font-weight: bolder;
	float:right;
	margin:10px;
	padding: 4px 16px 4px 16px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

/* Read more button (txt) */
.grid-wud-h3-txt {
	font-weight: bolder;
	float:right;
	margin:10px;
	border: none;
	padding: 4px 16px 4px 16px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-wud-h3:hover{
	background-color: #68737D;
}

/* Small display - Tablet */
@media screen and (max-width: 1024px) {
.grid-wud-h1 {
	font-size:160% !important;
    line-height: 110% !important;
}
.grid-wud-h3-txt {
	font-size:160% !important;
    line-height: 110% !important;
}		
.grid-wud-excerpt-2 {
	padding: 2% 1% 2% 1%;
	font-size:80% !important;
	max-height: 40% !important;	
}
}

/* Smaller than Tablet */
@media screen and (max-width: 767px) {
.grid-wud-h1 {
	font-size:220% !important;
    line-height: 160% !important;
}
.grid-wud-h3-txt {
	font-size:200% !important;
    line-height: 160% !important;
}	
.grid-wud-wrapper{
	width: 100% !important;
	height: 0;	
	padding-bottom: 100% !important;
	margin: 0.5%;
}
.grid-wud-excerpt {
	padding: 2% 1% 2% 1%;
	font-size:240% !important;
	max-height: 98% !important;
}
.grid-wud-excerpt-2 {
	padding: 2% 1% 2% 1%;
	font-size:240% !important;
	max-height: 40% !important;	
}
}

/*
 *	=== Grid WUD CIRCLE ===
  ___________________________
  START DIFFERENT FROM BASE 
  ___________________________*/
	.grid-4-wud-wrapper{
		border-radius: 50% !important;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		float: left;
		overflow: hidden;
		position: relative;
		z-index: 10;
	}
	/* Background image */
	.grid-4-wud-image{	
		-webkit-transition: ease-out 1s;
		transition: ease-out 1s;
		border-radius: 50% !important;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;		
		position: absolute;
		background-position: center;
		height:100%; width:100%; 
		background-size: cover;	
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);	
		z-index: 20;
	}  


	.grid-4-wud-wrapper:hover > .grid-wud-excerpt-4{
		background-color: rgba(255, 255, 255, 0.2);
		color: #000000;
	}	

	.grid-wud-excerpt-4 {
		padding: 3% 2% 3% 4%;
		border-radius: 10%;
		-webkit-border-radius: 10%;
		-moz-border-radius: 10%;
		margin-left: 17%;
		background-color: rgba(255, 255, 255, 0.78);
		color: #616161;
		font-size: 16px;
		font-size: 0.8vw;
		position: absolute;
		display: block;
		overflow: hidden;
		white-space: pre-line;
		text-overflow: ellipsis;
		width: 60%;
		bottom: 20%;
		height: auto;
		max-height: 25% !important;
		z-index: 30;
	}	
/*_________________________	
  END DIFFERENT FROM BASE 
  _________________________*/