  
.grid-wud-wrapper > .grid-wud-image{ 	
	filter:gray alpha(opacity=99);
	-webkit-filter:grayscale(99%);
	filter: grayscale(99%);
}
  
.grid-4-wud-wrapper > .grid-4-wud-image{ 	
	filter:gray alpha(opacity=99);
	-webkit-filter:grayscale(99%);
	filter: grayscale(99%);
}