  
.grid-wud-wrapper:hover > .grid-wud-image{ 
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transform: scale(1.09);	
	filter:gray alpha(opacity=50);
	-webkit-filter:grayscale(50%);
	filter: grayscale(50%);
	-webkit-backface-visibility:hidden;
	transform-origin: top left;
}

.grid-wud-wrapper-box:hover > .grid-wud-image{ 
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transform: scale(1.09);	
	filter:gray alpha(opacity=50);
	-webkit-filter:grayscale(50%);
	filter: grayscale(50%);
	-webkit-backface-visibility:hidden;
	transform-origin: top left;
}