/*
 *	=== Grid WUD ===
*/

@import url("grid-wud-base.css");

#grid-wud-wrapper-1 {
    width: 50%;
	height: 0;	
	padding-bottom: 49.99%;
	font-size: 24px; 
	font-size: 1.6vw;
}
#grid-wud-wrapper-2 {
    width: 25%;
	height: 0;
	padding-bottom: 49.99%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-wud-wrapper-3 {
    width: 25%;
	height: 0;	
	padding-bottom: 25%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-wud-wrapper-4 {
    width: 25%;
	height: 0;	
	padding-bottom: 25%;
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-wud-wrapper-5 {
    width: 25%;
	height: 0;
	padding-bottom: 49.99%;
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-wud-wrapper-6 {
    width: 50%;
	height: 0;	
	padding-bottom: 25%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-wud-wrapper-7 {
    width: 25%;
	height: 0;	
	padding-bottom: 25%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-wud-wrapper-8 {
    width: 50%;
	height: 0;
	padding-bottom: 25%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-wud-wrapper-9 {
    width: 25%;
	height: 0;	
	padding-bottom: 25%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-wud-wrapper-10 {
    width: 40%;
	height: 0;	
	padding-bottom: 20%;
	font-size: 18px; 
	font-size: 1.2vw;
	}
#grid-wud-wrapper-11 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-12 {
    width: 40%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-13 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;		
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-14 {
    width: 40%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-15 {
    width: 40%;
	height: 0;	
	padding-bottom: 20%	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-16 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-17 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-18 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-19 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-wud-wrapper-20 {
    width: 20%;
	height: 0;	
	padding-bottom: 20%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}