/*
 *	Plugin Name: WP Tiles WUD
*/

@import url("grid-wud-base.css");

#grid-1-wud-wrapper-1 {
    width: 50%;
	height: 0;	
	padding-bottom: 48.5%;
	font-size: 24px; 
	font-size: 1.6vw;
}
#grid-1-wud-wrapper-2 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-1-wud-wrapper-3 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-1-wud-wrapper-4 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-1-wud-wrapper-5 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-1-wud-wrapper-6 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-7 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-8 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	font-size: 18px; 
	font-size: 1.2vw;
	}
#grid-1-wud-wrapper-9 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	font-size: 18px; 
	font-size: 1.2vw;
	}
#grid-1-wud-wrapper-10 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	font-size: 18px; 
	font-size: 1.2vw;
	}
#grid-1-wud-wrapper-11 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-12 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;		
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-13 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;		
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-14 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-15 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;		
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-16 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-17 {
    width: 19.2%;
	height: 0;	
	margin-left: 0.96%;	
	padding-bottom: 19.2%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-18 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-19 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-1-wud-wrapper-20 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}

/* square */

#grid-2-wud-wrapper-1 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-2-wud-wrapper-2 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-2-wud-wrapper-3 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-2-wud-wrapper-4 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-2-wud-wrapper-5 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-2-wud-wrapper-6 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-2-wud-wrapper-7 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-2-wud-wrapper-8 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-2-wud-wrapper-9 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-2-wud-wrapper-10 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-2-wud-wrapper-11 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-2-wud-wrapper-12 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-2-wud-wrapper-13 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-2-wud-wrapper-14 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-2-wud-wrapper-15 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-2-wud-wrapper-16 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}	
#grid-2-wud-wrapper-17 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}	
#grid-2-wud-wrapper-18 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	
#grid-2-wud-wrapper-19 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-2-wud-wrapper-20 {
    width: 24.3%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	

/* blocks */	

#grid-3-wud-wrapper-1 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	font-size: 24px; 
	font-size: 1.6vw;
}
#grid-3-wud-wrapper-2 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-3-wud-wrapper-3 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-3-wud-wrapper-4 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-3-wud-wrapper-5 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-3-wud-wrapper-6 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-3-wud-wrapper-7 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-3-wud-wrapper-8 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-3-wud-wrapper-9 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-3-wud-wrapper-10 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-3-wud-wrapper-11 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-3-wud-wrapper-12 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-3-wud-wrapper-13 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-3-wud-wrapper-14 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-3-wud-wrapper-15 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-3-wud-wrapper-16 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-3-wud-wrapper-17 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-3-wud-wrapper-18 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	
#grid-3-wud-wrapper-19 {
    width: 49.5%;
	height: 0;	
	padding-bottom: 24%;
	font-size: 24px; 
	font-size: 1.6vw;
	}	
#grid-3-wud-wrapper-20 {
	margin-left: 0.9%;
    width: 49.4%;
	height: 0;	
	padding-bottom: 24%;
	font-size: 24px; 
	font-size: 1.6vw;
	margin-bottom: 0.5%;
	}

/*circle*/	

#grid-4-wud-wrapper-1 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-4-wud-wrapper-2 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-4-wud-wrapper-3 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-4-wud-wrapper-4 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-4-wud-wrapper-5 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-4-wud-wrapper-6 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-4-wud-wrapper-7 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-4-wud-wrapper-8 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-4-wud-wrapper-9 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-4-wud-wrapper-10 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-11 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-12 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-13 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-4-wud-wrapper-14 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-15 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-16 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-17 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-4-wud-wrapper-18 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-19 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-4-wud-wrapper-20 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	

/*photos*/

#grid-5-wud-wrapper-1 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-5-wud-wrapper-2 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-5-wud-wrapper-3 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-5-wud-wrapper-4 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-5-wud-wrapper-5 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-5-wud-wrapper-6 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-5-wud-wrapper-7 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-5-wud-wrapper-8 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-5-wud-wrapper-9 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-5-wud-wrapper-10 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-5-wud-wrapper-11 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-5-wud-wrapper-12 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-5-wud-wrapper-13 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-5-wud-wrapper-14 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-5-wud-wrapper-15 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#grid-5-wud-wrapper-16 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}	
#grid-5-wud-wrapper-17 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}	
#grid-5-wud-wrapper-18 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	
#grid-5-wud-wrapper-19 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-5-wud-wrapper-20 {
    width: 24.3%;
	height: 8vw;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	

/* horizon */

#grid-6-wud-wrapper-1 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-2 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-3 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-4 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-5 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-6 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-7 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-8 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-9 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-10 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-11 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-12 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-13 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-14 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-15 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-16 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-17 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-18 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-6-wud-wrapper-19 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-6-wud-wrapper-20 {
    width: 49%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}

/* mixed */

#grid-7-wud-wrapper-1 {
    width: 50%;
	height: 0;	
	padding-bottom: 48.5%;
	font-size: 24px; 
	font-size: 1.6vw;
}
#grid-7-wud-wrapper-2 {
    width: 24%;
	height: 0;
	padding-bottom: 48.5%;
	margin-left: 0.9%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-7-wud-wrapper-3 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-7-wud-wrapper-4 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-7-wud-wrapper-5 {
    width: 24%;
	height: 0;
	padding-bottom: 48.5%;
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-7-wud-wrapper-6 {
    width: 50%;
	height: 0;
	margin-left: 0.9%;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#grid-7-wud-wrapper-7 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
}
#grid-7-wud-wrapper-8 {
    width: 50%;
	height: 0;
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#grid-7-wud-wrapper-9 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#grid-7-wud-wrapper-10 {
    width: 39%;
	height: 0;	
	padding-bottom: 19.2%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	font-size: 18px; 
	font-size: 1.2vw;
	}
#grid-7-wud-wrapper-11 {
    width: 20%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;		
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-12 {
    width: 39%;
	height: 0;	
	padding-bottom: 19.2%;
    margin-left: 0.96%;		
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-13 {
    width: 20%;
	height: 0;	
	padding-bottom: 19.2%;		
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-14 {
    width: 39%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-15 {
    width: 39%;
	height: 0;	
	padding-bottom: 19.2%;
	margin-left: 0.96%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-16 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-17 {
    width: 19.2%;
	height: 0;	
	margin-left: 0.96%;	
	padding-bottom: 19.2%;	
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-18 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-19 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}
#grid-7-wud-wrapper-20 {
    width: 19.2%;
	height: 0;	
	padding-bottom: 19.2%;	
	margin-left: 0.9%;
	margin-bottom: 0.5%;
	margin-top: 0.5%;	
	font-size: 18px; 
	font-size: 1.2vw;	
}